<launch>

  <param name="/ndt_working" value="false" type="bool"/>
  <param name="/ndt_process_time" value="0.0" type="double"/>
  
  <param name="/patchworkpp_working" value="false" type="bool"/>
  <param name="/patchworkpp_process_time" value="0.0" type="double"/>
  
  <param name="/multi_LiDAR_Calibration_working" value="false" type="bool"/>
  
  <param name="/local_working" value="false" type="bool"/>
  <param name="/ego_location_x" value="0.0" type="double"/>
  <param name="/ego_location_y" value="0.0" type="double"/>
  <param name="/currnet_index" value="0" type="int"/>

  <param name="/OD_working" value="false" type="bool"/>
  <param name="/OD_process_time" value="0.0" type="double"/>

  <arg name="multi" default='false' />
  <arg name="local_test" default='false' />
  <arg name="lpm" default='false' />
  <arg name="check_process" default='true' />

  <!-- main -->
  <include file="$(find LiDAR_perception)/launch/Lidar_calibration.launch" if="$(eval arg('multi') != false)"/>
  
  <include file="$(find LiDAR_perception)/launch/ioniq5.launch" />

  <include file="$(find LiDAR_perception)/launch/run.launch">
    <arg name="local_test" value="$(arg local_test)" />
    <arg name="check_process" value="$(arg check_process)" />
    <arg name="lpm" value="$(arg lpm)" />
  </include>
    
  <include file="$(find patchworkpp)/launch/demo.launch" />

  <include file="$(find ndt_localizer)/launch/ndt_localizer.launch" if="$(eval arg('lpm') == false)" />


</launch>