<launch>
    <!--- Sim Time -->
    <arg name="local_test" default= 'false'/>
    <arg name="check_process" default= 'true'/>
    <arg name="gps_topic" default="/gps" />

    <param if="$(eval arg('local_test') == false)" name="/gps_topic" value="$(arg gps_topic)" />
    <param if="$(eval arg('local_test') != false)"  name="/gps_topic" value="/gps_test" />

    <param name="/use_sim_time" value="true" />
    
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 0 0 0 /map    /camera_init 30" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 0 0 0 /camera /base_link   30" /> 
    <node pkg="tf" type="static_transform_publisher" name="velodyne32e_to_base_link" args="-0.4  0    0      0  0  0          /base_link /velodyne   30" /> 

    <node pkg="LiDAR_perception" type="local"   name="local"  output="screen" if="$(eval arg('local_test') == false)"/>

    <node pkg="LiDAR_perception" type="local_test"   name="local_test"  output="screen" if="$(eval arg('local_test') != false)"/>

    <node pkg="LiDAR_perception" type="status_manager"   name="status_manager"  output="screen" if="$(eval arg('check_process') == true)"/>

    <node pkg="LiDAR_perception" type="main"   name="main"  output="screen"/>
        
    <node pkg="LiDAR_perception" type="pub_map.py" name="pcdmap" output="screen"/>

</launch>