<launch>
    <arg name="multi" default='false' />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find LiDAR_perception)/launch/rviz/single_LiDAR_perception.rviz"
      if="$(eval arg('multi') == false)"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find LiDAR_perception)/launch/rviz/multi_LiDAR_perception.rviz"
      if="$(eval arg('multi') != false)"/>
      
</launch>
