<launch>
    <param name="/use_sim_time" value="true" />
    
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 0 0 0 /map    /camera_init 30" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 0 0 0 /camera /base_link   30" /> 
    <node pkg="tf" type="static_transform_publisher" name="velodyne32e_to_base_link" args="-0.4  0    0      0  0  0          /base_link /velodyne   30" /> 

</launch>